body {
    
  background-color:rgb(205, 233, 205);
  background-size: cover; 
}

  p {
    text-align: center;
  }
  
  button{
      height: 45px;
      width: 45px;
      border: 3px solid rgb(253, 254, 255);
      font-weight: bold;
      margin-left:4px;
      border-radius: 5px;
  }

  

  .table {
    display: block;  
    margin: auto;
    border: solid;
    border:double;
    border-color: cadetblue;
    border-width: 10px;
    background-color:rgb(226, 194, 194);
    padding: 30px;
    width: 280px;
    height: 400px;
    border-radius: 5px;
  }