body {
    margin: 50px;
    padding: 20px;
    height: 100%;
}
.bg {


  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'menu main main main main right'
  'menu footer footer footer footer footer';
    
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;


}

div div {
    padding: 30px;
    border: 2px solid blanchedalmond;
    background-color: rgba(255, 255, 255, 0.8);
    }
    div div div{
      padding: 20px;
    }
    
      hr { color:rgb(111, 122, 111);
        
    }
      h1 {
        color: #173b1a;
        font-family: verdana;
        font-size: 30px;

      }
      h2 {
        color:#173b1a;
        font-family: verdana;
        font-size: 22px;
      }
      h3 { color: black;
        font-family:Tahoma;
        font-size: 13px;
        }
      h4 {color: rgb(131, 156, 131);
        font-family: verdana;
        font-size: 20px;
      }
      p  {
        color: rgb(80, 100, 80);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size:16px;
      }
      li {color: rgb(80, 100, 80);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
      }
      #myHeader {
        font-size: 40px;
        color: black;
        padding: 5px;
        text-align: center;
        font-family: 'Garamond';
        } 
     label {
        color: rgb(80, 100, 80);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font: size 16px;;

     }