body {
    margin: 10px;
    padding: 10px;
    background-color: rgb(213, 230, 235);
    background-size: cover;
    }
  
    body {
        margin: 10px;
        padding: 10px;
        background-color: rgb(213, 230, 235);
        background-size: cover;
        }
    
    .item1 { 
        padding: 25px;
        grid-area: header; 
    }
    .item2 { grid-area: menu; }
    .item3 { grid-area: main; }
    .item4 { grid-area: right; }
    .item5 { grid-area: footer; }
    
    .grid-container {
      display: grid;
      grid-template-areas:
      'header header header header header header'
      'menu menu main main right right'
      'menu menu main main footer footer';
      grid-gap: 10px;
      padding: 10px;
    }
    
    .grid-container > div {
      background-color: rgb(184, 211, 219);
      text-align: center;
      padding: 20px;

    }

    div div {
    padding: 30px;
    border: 2px solid rgba(233, 217, 194, 0.438);
    background-color: rgb(134, 194, 181);
    }
        

      h1 {
        color: #27572b;
        font-family: verdana;
        font-size: 50 px;
      }
      p  {
        color: rgb(111, 122, 111);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font: size 30px;
      }
      li {color: rgb(111, 122, 111);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30 px;
      }
      #myHeader {
        background-color: lightblue;
        color: black;
        padding: 10px;
        text-align: center;
        } 