/* Estilo del canvas
*/

h1{margin: 10;
    padding: 2;
    font-family: 'Bowlby One', cursive;
    color: burlywood;
        text-align: center;
  }
  
  
  #canvas {
    background: #caa8f5;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 6%;
    margin-bottom: 5%;
    transform: translate(-50%, -50%);
    border: 1px solid #9984d4;
  }
  
  body { background: #230c33;
        color: rgb(243, 12, 12);
    
    }